---
layout: archive
title: "Talks and Conference Presentations"
permalink: /talks/
author_profile: true
---

<ol start="21" reversed="reversed">
  <!--21. ACS-->
  <li>
    <strong><font color="blue">Invited: </font></strong>Bridging the gap between first principles reaction discovery and continuum modeling, 
    <strong><em>ACS Spring 2024 Meeting & Expo</em></strong>, New Orleans, LA, March, 2024.
    [Poster presentation as the winner of <a href="https://www.acscomp.org/awards/the-comp-acs-outstanding-postdoc-award" 
    target="_blank" rel="noopener noreferrer">Wiley Computers in Chemistry Outstanding Postdoc Award</a>] 
  </li> 
  <!--20. Rutgers Nanoreactor-->
  <li>
    <strong><font color="blue">Invited: </font></strong>Multiscale first principles reaction discovery for methane pyrolysis, 
    <strong><em>Department of Chemistry and Chemical Biology, Rutgers University</em></strong>, November, 2023.
  </li> 
  <!--19. BASF CARA-->
  <li>
    Application of the <em>ab initio</em> nanoreactor and nonadiabatic <em>ab initio</em> molecular dynamics to polymer degradation, 
    <strong><em>BASF California Research Alliance (CARA) Meeting</em></strong>, Santa Barbara, CA, October, 2023.
  </li> 
  <!--18. ACS-->
  <li>
    Automatic first principles reaction discovery from <em>ab initio</em> molecular dynamics to chemical kinetics prediction 
    for methane pyrolysis, 
    <strong><em>ACS Fall 2023 Meeting & Expo</em></strong>, San Francisco, CA,
    August, 2023.
  </li> 
  <!--17. MIT-->
  <li>
    Enabling sustainable aviation: Reacting flow modeling from molecular scale to device, 
    <strong><em>Department of Aeronautics and Astronautics, Massachusetts Institute of Technology</em></strong>, March 2023.
  </li>
  <!--16. AICHE-->
  <li>
    Integrating computational reaction discovery in the <em>ab initio</em> nanoreactor 
    with kinetic modeling and sensitivity analysis, 
    <strong><em>2022 AICHE Annual Meeting</em></strong>, Phoenix, AZ, November, 2022. 
  </li>
  <!--15. ACTC-->
  <li>
    Computational reaction discovery in the <em>ab initio</em> nanoreactor integrated with kinetic modeling 
    and sensitivity analysis, 
    <strong><em>ACTC (American Conference on Theoretical Chemistry) 2022</em></strong>, Palisades Tahoe, CA, July, 2022.
    <a href="https://youtu.be/Z4Jx7Rpi958?si=KrXEQs0fT7XIFqY4" 
    target="_blank" rel="noopener noreferrer">[Lightning talk video]</a> 
  </li>
  <!--14. ACS HyChem uncertainty-->
  <li>
    Effect of pyrolysis product species measurement uncertainties on the prediction accuracy of 
    HyChem (hybrid chemistry) reaction model – A case study on Jet A,
    <strong><em>ACS Fall 2020 Virtual Meeting & Expo</em></strong>, August, 2020.
  </li>
  <!--13. ACS HyChem general-->
  <li>
    <strong><font color="blue">Invited: </font></strong>HyChem (hybrid chemistry) approach to modeling real-fuel combustion chemistry: 
    From ignition, flame propagation to emission predictions,
    <strong><em>ACS Fall 2020 Virtual Meeting & Expo</em></strong>, August, 2020.
  </li>
  <!--12. 11th NCM HyChem uncertainty-->
  <li>
    Sensivitity of HyChem model accuracy to species measurement uncertainties of fuel pyrolysis,
    <strong><em>11<sup>th</sup> U.S. National Meeting on Combustion</em></strong>, Pasadena, CA, March, 2019.
  </li>
  <!--11. 37th Combustion Symposium large number-->
  <li>
    Principle of large component number in multicomponent fuel combustion – a Monte Carlo study,
    <strong><em>37<sup>th</sup> International Symposium on Combustion</em></strong>, Dublin, Ireland, August, 2018.
  </li>
  <!--10. MACCCR HyChem JPs and RPs-->
  <li>
    <strong><font color="blue">Invited: </font></strong>Available HyChem models for major hydrocarbon fuels: 
    JPs for aviation, RPs for space and gasoline for automotive applications,
    <strong><em>11<sup>th</sup> MACCCR (Multi-Agency Coordinating Committee for Combustion Research) Annual Fuel and Combustion 
      Research Review Meeting</em></strong>, Sandia National Laboratories, Livermore, CA, April, 2018.
  </li>
  <!--9. AFOSR/ARO/NSF HyChem JPs and RPs-->
  <li>
    <strong><font color="blue">Invited: </font></strong>HyChem model details for Air Force real fuels: 
    JP<sub><em>x</em></sub> and RP<sub><em>x</em></sub>,
    <strong><em>2017 AFOSR/ARO/NSF Basic Combustion Research Review Meeting</em></strong>, 
    Basic Research Innovation and Collaboration Center, Arlington, VA, June, 2017.
  </li>
  <!--8. 10th NCM HyChem application-->
  <li>
    HyChem model: application to petroleum-derived jet fuels,
    <strong><em>10<sup>th</sup> U.S. National Meeting on Combustion</em></strong>, College Park, MD, April, 2017.
  </li>
  <!--7. 10th NCM HyChem theory-->
  <li>
    Evidence supporting a simplified approach to modeling high-temperature combustion chemistry,
    <strong><em>10<sup>th</sup> U.S. National Meeting on Combustion</em></strong>, College Park, MD, April, 2017.
  </li>
  <!--6. Stanford HTGL HyChem theory-->
  <li>
    Evidence supporting a simplified approach to modeling high-temperature combustion chemistry,
    <strong><em>HTGL (High-Temperature Gasdynamics Laboratory) Seminar, Department of Mechanical Engineering,
      Stanford University</em></strong>, April, 2017.
  </li>
  <!--5. Stanford TFSA HyChem-->
  <li>
    HyChem approach to combustion chemistry of jet fuels,
    <strong><em>2017 TFSA (Thermal & Fluid Sciences Affiliates) and Sponsors Conference, Stanford University</em></strong>, February, 2017.
  </li>
  <!--4. AIAA HyChem A2/C1-->
  <li>
    A comparative study of combustion chemistry of conventional and alternative jet fuels with hybrid chemistry approach,
    <strong><em>55<sup>th</sup> AIAA Aerospace Sciences Meeting</em></strong>, Grapevine, TX, January, 2017.
  </li>
  <!--3. Stanford HTGL HyChem-->
  <li>
    HyChem approach to combustion chemistry of jet fuels,
    <strong><em>HTGL Seminar, Department of Mechanical Engineering, Stanford University</em></strong>, April, 2017.
  </li>
  <!--2. Tsinghua HyChem-->
  <li>
    HyChem model: A real fuel combustion chemistry approach,
    <strong><em>Center for Combustion Energy, Tsinghua University</em></strong>, Beijing, China, June, 2016.
  </li>
  <!--1. MSEC DSIF-->
  <li>
    A mixed toolpath strategy for improved geometric accuracy and higher throughput in doublesided incremental forming,
    <strong><em>ASME Manufacturing Science and Engineering Conference</em></strong>, Detroit, MI, June, 2014.
  </li>
</ol>

<!---
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
--->