---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<br> 

<strong>Teaching Assistant</strong>
<ul>
  <li>ME 371: <em>Combustion Fundamental</em>. Stanford University, 2018</li>
</ul>
<strong>Guest Lecturer</strong>
<ul>
  <li>ME 371: <em>Combustion Fundamental</em>. Stanford University, 2019</li>
</ul>
<strong>Postdoc subgroup leader/lecturer</strong>
<ul>
  <li><em>Quantum and Classical Dynamics</em>. Martinez group (excited-state dynamics subgroup), Stanford University, 2022-23</li>
  <li><em>Reaction Kinetics and Rate Theory</em>. Martinez Group (nanoreactor and machine learning subgroup), Stanford University, 2021-22</li>
  <li><em>Classical Dynamics and Symplectic Integrators</em>. Martinez Group summer school, Stanford University, 2021</li>
</ul>
<!---
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
--->
