---
layout: archive
title: "Teaching and Mentorship"
permalink: /teaching/
author_profile: true
---

<br> 

<font size="5" color="blue"><strong>Teaching Experience</strong></font><br>
<ul>
  <strong>Teaching Assistant</strong>
  <ul>
    <li>ME 371: <em>Combustion Fundamental</em>. Stanford University, 2018</li>
  </ul>
  <strong>Guest Lecturer</strong>
  <ul>
    <li>ME 371: <em>Combustion Fundamental</em>. Stanford University, 2019</li>
  </ul>
  <strong>Postdoc subgroup leader/lecturer</strong>
  <ul>
    <li><em>Quantum and Classical Dynamics</em>. Martinez group (excited-state dynamics subgroup), Stanford University, 2022-23</li>
    <li><em>Reaction Kinetics and Rate Theory</em>. Martinez Group (nanoreactor and machine learning subgroup), Stanford University, 2021-22</li>
    <li><em>Classical Dynamics and Symplectic Integrators</em>. Martinez Group summer school, Stanford University, 2021</li>
  </ul>
</ul>

<font size="5" color="blue"><strong>Mentorship Experience</strong></font><br>
<ul>
  <strong>Ph.D. Candidate</strong>
  <ul>
    <li>Garrett Kukier, Theoretical Chemistry, Stanford University. (2023-present)</li>
  </ul>
  <strong>Ph.D. Graduates</strong>
  <ul>
    <li>Soren Holm, Theoretical Chemistry, Stanford University. (2021-2024)<br>
      Thesis: "The dynamics and mechanisms of molecular reactions under tension"<br>
    </li>
    <li>Alexander M. Chang, Theoretical Chemistry, Stanford University. (2020-2024)<br>
        Thesis: "Advancing automated reaction discovery through novel acceleration techniques for <em>ab initio</em> molecular dynamics"<br>
        Current position: Lecturer in Chemistry & Biochemistry, Santa Clara University<br>
    </li>
    <li>Nicholaos Kateris, Mechanical Engineering, Stanford University. (2018-2020)<br>
        Thesis: "Alkali polysulfide phosphorus complexation batteries: a quantum chemistry electrochemical study"<br>
        Current position: Postdoctoral Scholar in Mechanical Engineering, Stanford University<br>
    </li>
    <li>Kevin Wan, Mechanical Engineering, Stanford University. (2017-2020)<br>
        Thesis: "Characterization of NO<sub><em>x</em></sub> and soot in premixed stagnation flames"<br>
        Current position: Postdoctoral Researcher, Sandia National Laboratories<br>
    </li>
    <li>Yue Zhang, Mechanical Engineering, Stanford University. (2016-2023)<br>
        Thesis: "Neural network assisted combustion chemistry reaction model optimization and uncertainty minimization"<br>
        Current position: Applied Scientist II, Amazon Web Services (AWS)<br>
    </li>
  </ul>
</ul>  
<!---
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
--->
