---
layout: archive
title: "Teaching and Advisorship"
permalink: /teaching/
author_profile: true
---

<br> 

<font size="5" color="blue"><strong>Teaching Experience</strong></font><br>
<ul>
  <strong>University of Southern California</strong>
  <ul>
    <li>AME 526: <em>Partial Differential Equations for Engineering Applications</em>. Spring 2025</li>
  </ul>
  <strong>Stanford University</strong>
  <ul>
    <li>Research group subgroup leader/lecturer, <em>Quantum and Classical dynamics, Reaction Kinetics and Rate Theory, Numerical Integration</em>. 2021-24</li>
    <li>Guest lecturer, ME 371: <em>Combustion Fundamental</em>, Winter 2019</li>
    <li>Teaching Assistant, ME 371: <em>Combustion Fundamental</em>, Winter 2018</li>
  </ul>
</ul>

<font size="5" color="blue"><strong>Advising and Mentoring</strong></font><br>
<ul>
  <strong>University of Southern California (Faculty advisor)</strong>
  <ul>
    <li>Boyuan Yu, Ph.D. student in Mechanical Engineering, 2025-present</li>
  </ul>
  <strong>Stanford University (Mentor)</strong>
  <ul>
    <li>Garrett Kukier, Ph.D. candidate in Theoretical Chemistry, 2023-2024</li>
    <li>Soren Holm, Ph.D. in Theoretical Chemistry, 2021-2024<br>
        Thesis: "The dynamics and mechanisms of molecular reactions under tension"<br>
    </li>
    <li>Alexander M. Chang, Ph.D. in Theoretical Chemistry, 2020-2024<br>
        Thesis: "Advancing automated reaction discovery through novel acceleration techniques for <em>ab initio</em> molecular dynamics"<br>
        Current position: Lecturer in Chemistry & Biochemistry, Santa Clara University<br>
    </li>
    <li>Nicholaos Kateris, Mechanical Engineering, 2018-2020<br>
        Thesis: "Alkali polysulfide phosphorus complexation batteries: a quantum chemistry electrochemical study"<br>
        Current position: Postdoctoral Scholar in Mechanical Engineering, Stanford University<br>
    </li>
    <li>Kevin Wan, Mechanical Engineering, 2017-2020<br>
        Thesis: "Characterization of NO<sub><em>x</em></sub> and soot in premixed stagnation flames"<br>
        Current position: Postdoctoral Researcher, Sandia National Laboratories<br>
    </li>
    <li>Yue Zhang, Mechanical Engineering, 2016-2020<br>
        Thesis: "Neural network assisted combustion chemistry reaction model optimization and uncertainty minimization"<br>
        Current position: Applied Scientist II, Amazon Web Services (AWS)<br>
    </li>
  </ul>
</ul>  
<!---
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
--->
